---
import GoogleAnalytics from './GoogleAnalytics.astro'
import '../../styles/main.scss'

export interface Props {
title: string;
description: string;
}
const { title, description} = Astro.props;

let permalink = 'https://gabrielpalhares.dev/podbits';
---

<GoogleAnalytics />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width"/>
<link rel="sitemap" href="/sitemap.xml"/>
<link rel="icon" type="image/x-icon" href="/images/microphone.png"/>


<!-- Primary Meta Tags -->
<title>{title}</title>

